.chatWrapper {
  position: absolute;
  right: 2vw;
  bottom: 1vh;
  z-index: 5;
  height: 500px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8px;
  background-color: #576490;
  margin-bottom: 10px;
}
.outputBox {
  height: 400px;
  width: 350px;
  border-radius: 8px;
  color: white;
  overflow: auto;
}
.inputBox {
  display: flex;
  flex-direction: row;
  width: 92%;
  border-top: 1px solid #21273b;
  margin-top: 12px;
  padding-top: 10px;
}
.inputField {
  line-height: 25px;
  width: 276px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #343c59;
  height: 40px;
  padding-left: 16px;
  color: white;
}
.inputField:active {
  transform: scale(1.03);
}
.inputField::placeholder {
  color: white;
  opacity: 0.6;
  letter-spacing: 0.03em;
}

.submitBtn {
  background-color: #576490;
  border-radius: 20px;
  height: 34px;
  width: 70px;
  right: 16px;
  letter-spacing: 0.03em;
  margin-top: 3px;
  color: white;
  position: absolute;
  transition: 0.2s;
  border: none;
  outline: none;
}

.submitBtn:hover {
  background: #0f121c;
  cursor: pointer;
}

.roomName {
  font-weight: bold;
  margin: 0;
  padding: 6px 0 4px;
  color: #d1d2f9;
}

.chatMessageWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  margin: 8px 0;
  background: #343c59;
  border-radius: 8px;
  border-bottom-left-radius: 0;
}
.sentUserMessage {
  font-weight: bold;
  padding-right: 6px;
  color: #d1d2f9;
  margin-top: 12px;
}

.chatMessage {
  padding-left: 5px;
}

@media (max-width: 1690px) {
  .chatWrapper {
    height: 400px;
    width: 300px;
  }
  .outputBox {
    height: 326px;
    width: 92%;
    padding-top: 12px;
  }
  .chatMessage {
    font-size: 14px;
  }
}
