.chatWrapper {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
  z-index: 5;
  height: 500px;
  width: 400px;
  border: 1px solid #d1d2f9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 8px;
  background-color: #576490;
  margin-bottom: 10px;
}
.outputBox {
  height: 400px;
  width: 350px;
  border-radius: 8px;
  background-color: #7796cb;
  color: white;
  overflow: auto;
}
.inputBox {
  display: flex;
  flex-direction: row;
}
.inputField {
  line-height: 25px;
  width: 200px;
  border-radius: 8px;
  outline: none;
  padding: 3px;
  margin-right: 15px;
}
.inputField:active {
  transform: scale(1.05);
}

.submitBtn {
  background-color: #d1d2f9;
  border-radius: 8px;
  height: 30px;
  width: 60px;
  border: none;
  outline: none;
}

.submitBtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.chatMessageWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}
.sentUserMessage {
  font-weight: bold;
  padding-right: 5px;
  color: #d1d2f9;
}

.chatMessage {
  padding-left: 5px;
}

@media (max-width: 1690px) {
  .chatWrapper {
    height: 400px;
    width: 300px;
  }
  .inputField {
    line-height: 25px;
    width: 150px;
    border-radius: 8px;
    outline: none;
  }
  .outputBox {
    height: 270px;
    width: 90%;
  }
  .chatMessage {
    font-size: 14px;
  }
}
