.toggleWebcam,
.toggleMicrophone {
  height: 40px;
  width: 40px;
  position: fixed;
  background-color: rgb(255, 218, 236);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleMicrophone {
  right: 70vw;
  top: 90vh;
}

.toggleWebcam {
  right: 70vw;
  top: 95vh;
}

.toggleWebcam:hover,
.toggleMicrophone:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 1px 1px 0.5px;
  cursor: pointer;
}
