.formContainerInvited,
.formContainerCreateRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectCreateOrJoin,
.displayInviteLink,
.formContainerEnterUrl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.selectCreateOrJoin img {
  padding: 20px;
  width: 630px;
}

.formContainerInvited,
.formContainerCreateRoom,
.displayInviteLink,
.formContainerEnterUrl {
  display: none;
}

.submitButtonInvited,
.submitButtonCreateRoom {
  padding: 15px;
  color: #ffffff;
  background-color: #21273b;
  border-radius: 8px;
  width: 180px;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
  border: none;
  letter-spacing: 1px;
  transition: 200ms ease-in-out;
}

.submitButtonInvited:hover,
.submitButtonCreateRoom:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
}

.inputField {
  display: flex;
  line-height: 25px;
  width: 250px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 3px;
  color: #305464;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.inputField:active {
  transform: scale(1.2);
}

.inputfield::placeholder {
  opacity: 0.5;
  font-weight: normal;
}
.inputField:focus::placeholder {
  color: transparent;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
}
.instructions {
  color: #ffffff;
  margin: 30px 0;
  max-width: 480px;
  line-height: 1.4em;
  text-align: center;
  font-size: 29px;
}

.formLabel {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectDropdown {
  display: flex;
  line-height: 25px;
  width: 250px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 3px;
  color: #305464;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
