.webcams {
  height: 180px;
  width: 220px;
  min-width: 220px;
  margin-left: 8px;
  border-radius: 6px;
  background-color: #343c59;
}
.username {
  color: #d1d2f9;
  font-weight: bold;
  padding: 10px 12px;
  margin: 0;
  position: absolute;
}

.webcamsWrapper {
  overflow: auto;
  position: absolute;
  z-index: 5;
  bottom: 1vh;
  left: 30%;
  background-color: #576490;
  height: 230px;
  width: 900px;
  max-width: 900px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
}

/* Media queries */
@media (max-width: 2001px) {
  .webcamsWrapper {
    left: 25vw;
  }
}
@media (max-width: 1795px) {
  .webcamsWrapper {
    left: 20vw;
  }
}

@media (max-width: 1690px) {
  .webcamsWrapper {
    width: 830px;
    height: 200px;
    left: 19vw;
  }
}

@media (max-width: 1450px) {
  .webcamsWrapper {
    width: 750px;
    left: 17vw;
  }
}

@media (max-width: 1291px) {
  .webcamsWrapper {
    left: 11vw;
    height: 150px;
    width: 600px;
  }
  .webcams {
    height: 120px;
    width: 120px;
  }
}
